.DS_Store
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
venv/

# Data and outputs
src/data/
src/data/cifar-10-batches-py/
src/data/cifar-10-python.tar.gz
src/outputs/
src/__pycache__
logs/
checkpoints/

# Hydra
.hydra/
